html,body{
    height: 100%;
}
body{
    background: url("../img/timg.jpg");
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.container-fluid{
    width: 100%;
    height: 100%;
}
.oform{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-100%);
    -webkit-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.fontcolor{
    text-decoration: none;
    cursor: pointer;
    color: #337ab7;
}
#myModal{
    overflow: hidden;
}

.downloadcon{
    height: 500px;
    overflow: auto;
}